@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%; 
    font-size: 100%;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    background-image: url(../images/backgroundweb.jpg);
    background-position:center;
    background-repeat:repeat;
}

img {
	width: 100%;
    display: block;
}

h1,
h2 {
    font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
}

header{
    background-color: white;
}

.logo{
    height: 4.5rem;
    width: auto;
    margin: .5rem 5%;
}

.logofooter{
    height: 3rem;
    width: auto;
    float:right;
}

.billboard{
    overflow:hidden;
    background-image:url(../images/cupcake-pattern1.jpg);
    background-size: 18rem;
    margin: 0 0 2rem;
}

body { 
    margin: 0;
    padding: 0;    
}

article {
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

h1 {
    margin: 4rem 0 2;
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    background-color: #cc0033;
    color: white;     
}

h2 {
    margin: 0;
    text-align: center;
    color: #cc0033;
    text-transform: uppercase;
    font-size: 1.5rem;
    border-bottom: dotted;
}

p,
ol,
ul {
    padding: 0 3rem 0;
    font-size: 1rem;
    line-height: 1.75rem;
}

.dropcap:first-letter {
    font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif; 
    font-size: 4rem;
    font-weight: normal;
    float: left;
    margin: 1rem 1rem -.5rem 0;
    color: #cc0033;
}

blockquote {
    color: #cc0033;
    font-style: italic;
}

blockquote p:before {
    content: "“";
    font-size: 2rem;
    float: left;
    margin: 0 -1.5rem 0;
}

blockquote p:after {
    content: "”";
    font-size: 2rem;
    float: right;
    margin: 0 1rem 0;
}

figure img{
    border: solid .15rem black;
}

figcaption {
    text-align: right;
    font-size: .75rem;
    font-style: italic;
    color: #cc0033;
}

footer p {
    padding: 5% 0 5%;
    background-color: #cc0033;
    color: white;
}

footer a {
    color: white;
    text-align: left; 
    font-style: italic;
}